<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bulut.adxsevk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ikon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DepoyaIade"
            android:label="@string/title_activity_depoya_iade"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PeronActivity"
            android:label="@string/title_activity_peron"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SiparisKontrol"
            android:label="@string/title_activity_siparis_kontrol"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnaSayfa"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>